*{
    font-family: 'Lato', sans-serif;
    color: srgb(201, 149, 53);
}

html{
    height: 100%;
}
body{
    background-image: url("/assets/images/gym2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

/* Navbar styling */
.navbar{
    display: flex;
    background-color: rgba(20, 19, 19, 0.9);
}
.navbar-links{
  display: flex;
}
.active{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
/* Main styling */
.rollcall-full{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rollcall, .info{
  max-width: 50%;
  background-color: rgba(20, 19, 19, 0.5);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}
.cards-improved{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 0;
}
.card-new {
  margin: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(20, 19, 19, 0.9);
  border-radius: 10px;
}

.card-new img {
  max-width: 30%;
  height: 100%;
}
.card-new .left{
  align-items: flex-start;
}
.card-new .right{
  align-items: ;
}
.card-new p{
  line-height: 3rem;
}

/* About Us section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.about p{
  background-color: rgba(20, 19, 19, 0.9);
  line-height:3;
  border-radius: 5px;
  padding: 5px;
}
/* button css credit  -> https://getcssscan.com/css-buttons-examples  */
.btn-membership {
  appearance: none;
  background-color: rgba(10, 10, 10, 0.966);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 50%;
  will-change: transform;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-membership:disabled {
  pointer-events: none;
}

.btn-membership:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-membership:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Footer Styling */
.footer{
    display: flex;
    flex-direction: row !important;
    min-width: 100%;
    /* position: absolute; */
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(20, 19, 19, 0.9)
}
.footer-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: fit-content;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
}
.footer-copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Links Styling */
a:link {
    text-decoration: none !important;
    color: white !important;
  }
  
  a:visited {
    text-decoration: none !important;
    color: white !important;
  }
  
  a:hover {
    text-decoration: underline !important;
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
  }
  
  a:active {
    text-decoration: underline !important;
    color: white !important;
  }

/* Tables  */
table{
  background-color: rgba(20, 19, 19, 0.9) !important;
  margin: 0 !important;
}
/* Mobile display */
@media only screen and (max-width: 600px){
    body{
      padding: none !important;
      padding-left: 0;
      padding-right: 0;
    }
    .rollcall .info{
      max-width: 100%;
    }
    .navbar-brand{
        width: 100%;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important; 
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar-links{
        display: flex;
        flex-direction: column;
    }
    .footer{
      flex-direction: column !important;
    }
    .card-new{
      flex-direction: column;
    }
    .card-new img{
      min-width: 100%;
    }
}

